.main-board {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    padding: 2em;
}

.column {
    width: 100%;
}

.title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5em;
    margin-bottom: 1em;
}

.title span {
    height: 15px;
    width: 15px;
    background-color: var(--text-secondary-color);
    border-radius: 50%;
}

.loading-msg,
.msg {
    font-weight: bold;
    color: var(--text-secondary-color);
}

.loading-msg {
    animation: changeColor 2s infinite alternate;
}

span.to-do {
    background: #65BFDB;
}

span.doing {
    background: #8475DB;
}

span.done {
    background: #83D4BA;
}

.title h3 {
    color: var(--text-secondary-color);
    font-size: 1em;
}

.task {
    width: 100%;
    background: var(--secondary-color);
    margin-bottom: 1em;
    padding: 1em 2em;
    border-radius: .5em;
    cursor: pointer;
    box-shadow: 0 0 1em var(--shadow-color);
}

.task h4 {
    margin-bottom: .3em;
}

.task span {
    color: var(--text-secondary-color);
}

@keyframes changeColor {
    0% { color: var(--text-primary-color); }
    50% { color: var(--text-secondary-color); } 
    100% { color: var(--text-primary-color); }
}

@media (max-width: 1100px) {
    .main-board {
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 1em;
    }
}

@media (max-width: 768px) {
    .task {
        padding: 1em;
    }

    .title h3 {
        font-size: 0.9em;
    }

    .task h4 {
        font-size: 0.9em;
    }

    .task span {
        font-size: 0.8em;
    }

    .msg {
        font-size: 0.9em;
    }
}

@media (max-width: 576px) {
    .task {
        padding: 0.8em;
        box-shadow: 0 0 0.5em var(--shadow-color);
    }

    .title h3 {
        font-size: 0.8em;
    }

    .task h4 {
        font-size: 0.8em;
    }

    .task span {
        font-size: 0.7em;
    }

    .msg {
        font-size: 0.7em;
    }
}
