.footer {
    width: 100%;
    background: var(--secondary-color);
    padding: 2em;
    box-shadow: 0 0 1em var(--shadow-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer h1 {
    cursor: pointer;
}

.footer ul {
    list-style: none;
    margin-left: 2em;
    padding: 1em 2em;
    border-left: 2px solid var(--text-secondary-color);
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer ul li {
    color: var(--text-secondary-color);
    cursor: pointer;
    transition: .5s;
}

.footer ul li:hover {
    color: var(--primary-color);
    transform: translateX(.5em);
}

@media (max-width: 760px) {
    .footer {
        flex-direction: column;
    }

    .footer ul {
        border-left: none;
        border-top: 2px solid var(--text-secondary-color);
        margin-left: 0;
        margin-top: 2em;
        padding: 2em;
    }
}

@media (max-width: 330px) {
    .footer ul li {
        font-size: .8em;
    }
}