.fade {
    z-index: 9;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--fade-color);
}

.container-form {    
    width: 90%;
    max-width: 700px;
    z-index: 9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--secondary-color);
    padding: 2em;
    border-radius: .5em;
}

.container-form h2 {
    margin-bottom: 1em;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.input-container label, 
.sub-container .label {
    font-size: 1em;
    font-weight: bold;
}

.input-container input,
.input-container textarea,
.input-sub-container input {
    width: 100%;
    padding: .8em 1em;
    background: transparent;
    color: var(--text-primary-color);
    border: 1px solid var(--text-secondary-color);
    border-radius: .2em;
    outline: none;
}

.input-container textarea {
    resize: vertical;
    height: 100px;
}

.input-container span,
.input-sub-container span {
    display: none;
}

.sub-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.input-sub-container {
    width: 100%;
}

.input-btn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5em;
    margin-bottom: .5em;
}

.delete-sub {
    border: none;
    background: transparent;
    font-size: 1.2em;
    color: var(--text-secondary-color);
    padding: .5em;
    cursor: pointer;
    transition: .5;
}

.delete-sub:hover {
    color: var(--primary-color);
}

.new-sub-btn,
.submit-btn {
    border: 1px solid var(--primary-color);
    border-radius: 2em;
    background: transparent;
    padding: 1em 2em;
    color: var(--primary-color);
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
}

.submit-btn {
    border-color: var(--primary-color);
    background: var(--primary-color);
    color: #FFF;
}

.new-sub-btn:hover,
.submit-btn:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
    background: transparent;
}

.bottom-link {
    text-align: center;
    font-weight: bold;
    font-size: .8em;
    color: var(--text-secondary-color);
}

.bottom-link a {
    color: var(--primary-color);
}

.error label, 
.error .label {
    color: var(--error-color);
}

.error input,
.error textarea {
    border-color: var(--error-color);
}

.error span {
    display: block;
    color: var(--error-color);
    font-weight: bold;
    font-size: .8em;
    width: 100%;
}