.header {
    width: 100%;
    background: var(--secondary-color);
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 1em var(--shadow-color);
    position: relative;
}

.header h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    cursor: pointer;
}

.header h2 span {
    font-size: 1em;
    display: none;
}

.btns-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.btn {
    background: var(--primary-color);
    color: #fff;
    border: 1px solid var(--primary-color);
    border-radius: 2em;
    padding: 1em 2em;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    background: transparent;
    color: var(--primary-color);
}

.profile-btn {
    padding: 0.4em;
    background: transparent;
    border: none;
    color: var(--text-secondary-color);
    font-size: 1.4em;
    cursor: pointer;
}

.profile {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--secondary-color);
    border-radius: .5em;
    padding: 1em;
    box-shadow: 0 0 1em var(--shadow-color);
    position: absolute;
    right: 1em;
    top: -500%;
    transition: 0.4s ease-in-out;
    z-index: 8;
}

.open {
    top: calc(100% + 1em);
}

.profile h3 {
    text-align: center;
    font-size: 1.4em;
    margin-bottom: 1em;
}

.profile strong {
    color: var(--text-secondary-color);
}

.profile p {
    color: var(--text-secondary-color);
    padding: .5em;
}

.profile hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: var(--text-secondary-color);
    margin-bottom: 1em;
}

.logout-btn {
    width: 100%;
    border-radius: .5em;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    font-size: 1em;
    color: var(--text-secondary-color);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media (max-width: 1290px) {
    .header h2 span {
        display: block;
    }
}

@media (max-width: 760px) {
    .header {
        gap: 1em;
    }

    .header h2 {
        font-size: 1em;
    }

    .btns-container {
        gap: 1em;
    }

    .btn {
        padding: 0.7em 1.2em;
        font-size: 0.8em;
    }
}

@media (max-width: 500px) {
    .header {
        padding: 1em;
    }

    .header h2 {
        font-size: 0.9em;
    }

    .btn {
        padding: 0.6em 1em;
        font-size: 0.6em;
    }

    .logout-btn {
        font-size: 1.2em;
    }

    .profile {
        width: 90%;
    }

    .profile strong,
    .profile p,
    .logout-btn {
        font-size: .8em;
    }
}

@media (max-width: 315px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
}
