.header {
    width: 100%;
    background: var(--secondary-color);
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 1em var(--shadow-color);
}

.header h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    cursor: pointer;
}

.header h2 span {
    font-size: 1em;
    display: none;
}

.btns-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.btn {
    background: var(--primary-color);
    color: #fff;
    border: 1px solid var(--primary-color);
    border-radius: 2em;
    padding: 1em 2em;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    background: transparent;
    color: var(--primary-color);
}

.logout-btn {
    background: transparent;
    border: none;
    color: var(--text-secondary-color);
    font-size: 2em;
    cursor: pointer;
}

@media (max-width: 1290px) {
    .header h2 span {
        display: block;
    }
}

@media (max-width: 760px) {
    .header {
        gap: 1em;
    }

    .header h2 {
        font-size: 1em;
    }

    .btns-container {
        gap: 1em;
    }

    .btn {
        padding: 0.7em 1.2em;
        font-size: 0.8em;
    }

    .logout-btn {
        font-size: 1.5em;
    }
}

@media (max-width: 500px) {
    .header {
        padding: 1em;
    }

    .header h2 {
        font-size: 0.9em;
    }

    .btn {
        padding: 0.6em 1em;
        font-size: 0.6em;
    }

    .logout-btn {
        font-size: 1.2em;
    }
}

@media (max-width: 315px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
}
