@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loading-container {
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .loading {
      height: 80px;
      width: 80px;
      background-color: transparent;
      border: 0.4em solid var(--primary-color);
      border-top-color: transparent; 
      border-radius: 50%;
      animation: spin 1s linear infinite; 
  }
  