.aside {
    width: 30%;
    background: var(--secondary-color);
    padding: 2em;
    box-shadow: 0 0 1em var(--shadow-color);
    z-index: 7;
}

.aside h1 {
    margin-bottom: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.mode-btn {
    background: transparent;
    border: none;
    color: var(--text-secondary-color);
    font-size: 1em;
    cursor: pointer;
}

.aside span {
    color: var(--text-secondary-color);
}

.boards {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.board {
    width: 100%;
    padding: 1em 2em;
    margin-left: -2em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    cursor: pointer;
}

.board svg {
    font-size: 2em;
    color: var(--text-secondary-color);
}

.board span {
    color: var(--text-secondary-color);
    width: 100%;
}

.board:hover .delete-btn {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s;
}

.delete-btn {
    border: none;
    background: transparent;
    color: var(--text-secondary-color);
    padding: 0.5em;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
}

.delete-btn svg {
    font-size: 1.5em;
}

.active {
    background: var(--primary-color);
    border-radius: 0 2em 2em 0;
}

.active svg,
.active span,
.active .delete-btn {
    color: #fff;
}

.new-board {
    width: 300px;
}

.new-board svg,
.new-board span {
    color: var(--primary-color);
}

.new-board:hover svg,
.new-board:hover span {
    color: var(--text-secondary-color);
    transition: 0.5s;
}

@media (max-width: 1290px) {
    .aside {
        width: 100%;
        height: 100vh;
        position: fixed;
        bottom: 100%;
        transition: 0.5s;
        padding: 1em;
    }

    .open {
        bottom: 0;
    }

    .delete-btn {
        opacity: 1;
        pointer-events: all;
    }

    .new-board {
        width: 100%;
    }
}

@media (max-width: 760px) {
    .aside h1 {
        font-size: 1.2em;
    }

    .info {
        font-size: 0.8em;
    }

    .mode-btn {
        font-size: 1.5em;
    }

    .board {
        font-size: 1em;
    }

    .board svg {
        font-size: 2em;
    }

    .delete-btn svg {
        font-size: 1em;
    }
}

@media (max-width: 500px) {
    .mode-btn {
        font-size: 1.2em;
    }

    .board {
        font-size: 0.8em;
    }
}
