.fade {
    z-index: 9;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--fade-color);
}

.task-modal {
    width: 90%;
    max-width: 700px;
    z-index: 9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--secondary-color);
    padding: 2em;
    border-radius: .5em;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

.title-container h4 {
    font-size: 1.5em;
}

.delete-task-btn {
    border: none;
    background: transparent;
    font-size: 1.2em;
    color: var(--text-secondary-color);
    padding: .5em;
    cursor: pointer;
    transition: .5s ;
}

.delete-task-btn:hover {
    color: var(--text-primary-color);
}

.task-modal p {
    margin-bottom: 1.5em;
    color: var(--text-secondary-color);
    text-align: left;
    line-height: 1.5em;
    font-size: .9em;
}

.task-modal h5 {
    margin-bottom: 1em;
    font-size: .9em;
}

.subtasks {
    width: 100%;
}

.subtask {
    width: 100%;
    background: var(--bg-color);
    margin-bottom: .5em;
    padding: 1em;
    border-radius: .5em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
}

.subtask-btn {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: var(--text-secondary-color);
    border: 1px solid var(--text-secondary-color);
    border-radius: .5em;
    text-decoration: none;
    font-weight: bold;
    font-size: .8em;
    cursor: pointer;
    transition: .5s;
}

.done .subtask-btn {
    background: var(--primary-color);
    color: #FFF;
    border-color: var(--primary-color);
}

.done span {
    color: var(--text-secondary-color);
    text-decoration: line-through;
}

@media (max-width: 650px) {
    .title-container h4 {
        font-size: 1.1em;
        width: 70%;
    }

    .delete-task-btn {
        font-size: 1em;
    }

    .task-modal p {
        font-size: .8em;
    }

    .task-modal h5 {
        font-size: .7em;
    }

    .subtask span {
        font-size: .8em;
    }

    .subtask-btn {
        height: 20px;
        width: 20px;
    }
}