@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #635EC5; 
  --secondary-color: #2C2C37; 
  --bg-color: #21222D; 
  --text-primary-color: #FFF;
  --text-secondary-color: #9A9A9A; 
  --fade-color: rgba(0, 0, 0, 0.5);
  --shadow-color: rgba(0, 0, 0, 0.1); 
  --error-color: #E57373;
}

.light-mode:root {
  --primary-color: #635EC5; 
  --secondary-color: #FFF; 
  --bg-color: #E9E9E9; 
  --text-primary-color: #333;
  --text-secondary-color: #8A8A8A; 
  --fade-color: rgba(0, 0, 0, 0.5);
  --shadow-color: rgba(0, 0, 0, 0.1); 
  --error-color: #E57373;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
  transition: ease;
}

#root {
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-primary-color);
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  min-height: 100vh;
}

.main-container {
  width: 100%;
}