@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --primary-color: #635ec5;
    --secondary-color: #2c2c37;
    --bg-color: #21222d;
    --text-primary-color: #fff;
    --text-secondary-color: #9a9a9a;
    --fade-color: rgba(0, 0, 0, 0.5);
    --shadow-color: rgba(0, 0, 0, 0.1);
    --error-color: #e57373;
    --error-color-text: #832929;
}

.light-mode:root {
    --primary-color: #635ec5;
    --secondary-color: #fff;
    --bg-color: #f9f9f9;
    --text-primary-color: #333;
    --text-secondary-color: #8a8a8a;
    --fade-color: rgba(0, 0, 0, 0.5);
    --shadow-color: rgba(0, 0, 0, 0.1);
    --error-color: #e57373;
    --error-color-text: #832929;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    transition: ease;
}

#root {
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-primary-color);
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    min-height: 100vh;
}

.main-container {
    width: 100%;
}

.error-msg {
    width: 100%;
    max-width: 700px;
    text-align: center;
    padding: 1rem;
    border-radius: 0.2rem;
    color: var(--error-color-text);
    font-weight: bold;
    background-color: var(--error-color);
    position: fixed;
    bottom: 90%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.2s ease-in-out;
}

.hide {
    bottom: 100%;
}

.error-msg button {
    padding: 0.4rem;
    border: none;
    background-color: transparent;
    color: var(--error-color-text);
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}
